// compileCompressed: ../css/$1.css

$primary: #027afa;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  font-size: 4em;
}

.app-header {
  height: 150px;
  padding: 20px;
}

.app-title {
  font-family: 'Molle', cursive;
  font-size: 2.5em;
  margin-top: 0.25em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav.navbar {
    background-color: $primary !important;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

nav.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.navbar-dark .navbar-nav a.nav-link, .navbar .container .navbar-toggler {
    color: #ffffff;
}

.hp-slideshow-container .carousel-item {
    height: 0;
    padding-bottom: 60%;
    img {
        object-fit: cover;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
    }
}
.hp-card-container img.invert {
    filter: invert(100%);
    color: red;
}
#chart_div {
    width: 100%;
    height:600px;
}
#ticker, .creatable-select {
    text-transform: uppercase;
}

@keyframes coin-flip {
    from { transform: rotate(0deg); height: 200px; width: 200px;}
    to { transform: rotate(360deg); height: 200px; width: 0px;}
}

.coin {
    user-select: none;

    &> img {
        user-select: none;
        display: none;
        cursor: pointer;
        &.active {
            display: inline-block;
        }
        &.flipping {
            animation: coin-flip infinite 0.1s linear;
        }
    }
}
.counter {
    min-width: 40px;
    font-size: 1.5rem !important;
    padding: 0 !important;
    font-family: 'ZCOOL KuaiLe', cursive;
}
.versus-text {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1.5rem !important;
    text-decoration: underline;
}
.target-label, .player-score {
    font-size: 1.6rem;
    font-family: 'ZCOOL KuaiLe', cursive;
    &.closed-out {
        text-decoration: line-through;
        opacity: 0.5;
        i {
            text-decoration: line-through;
        }
    }
}
.cricket-name-select__control {
    font-size: 1.1rem;
    font-family: 'ZCOOL KuaiLe', cursive;
}
.right-slash {
    position: absolute;
    font-size: 2.5rem;
    line-height: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
.x-symbol {
    font-size: 2.5rem;
    line-height: 0;
    top: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.circle-slash {
    position: absolute;
    font-size: 1.8rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.cricket-name-select__indicators {
    display: none !important;
}
.cricket-name-select__placeholder, .cricket-name-select__single-value {
    margin: auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
}
.cricket-name-select__placeholder {
    width: 100%;
}
.cricket-name-select__single-value {
    margin-left: 0 !important;
}
.cricket-name-select__menu {
    z-index: 10 !important;
}


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
