// out: ../css/main.css, sourcemap: false, compress: true

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  font-size: 4em;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #007bff;
}

.App-title {
  font-family: 'Molle', cursive;
  font-size: 2.5em;
  margin-top: 0.25em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav.navbar {
    background-color: #007bff !important;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

nav.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.navbar-dark .navbar-nav a.nav-link, .navbar .container .navbar-toggler {
    color: #ffffff;
}

.hp-slideshow-container .carousel-item {
    height: 0;
    padding-bottom: 60%;
    img {
        object-fit: cover;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
    }
}
.hp-card-container img.invert {
    filter: invert(100%);
    color: red;
}
#chart_div {
    width: 100%;
    height: auto;
}
#ticker {
    text-transform: uppercase;
}
